* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #464242;
}

header {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con 60% de opacidad */
  padding: 15px 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #18bc9c;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(44, 40, 40, 0.3)), url('assets/banner.png') no-repeat center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #000000;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #14947f;
}

#separador{
    height: 50px;
    background-color: #000000;
}

.servicios{
    background-color: #ffffff;
    height: 350px;
    margin-left: 50%;
    text-align: center;
}

.Reservas{
    background-color: #ffffff;
    height: 350px;

    text-align: center;
}